
.box{
    width: 400px;
    height: 300px;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.text{
    text-align: center;
    padding: 20px 0;
}

p{
    display: table-cell;
  
}